* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    text-decoration: none;
}

body {
    font-family: Arial;
    padding: 10px;
    background: #ddd;
    text-decoration: none;
}

.logo {
    position: relative;
    padding-top: 10px;
}

.header {
    text-align: center;
    background-image: url(../assets/atmos.png);
    background-position: center;
    background-repeat: no-repeat;
    position: relative;
    padding-bottom: 10px;
    box-shadow: 1px 1px 3px #00000080;
    border-radius: 10px;
}

.header img {
    display: block;
    height: 100px;
    width: 100px;
    margin-left: auto;
    margin-right: auto;
    object-fit: cover;
    border-radius: 50%;
    background-color: rgba(255, 255, 255, 0.616);
    box-shadow: 1px 1px 3px #000;
}

.header h1 {
    font-weight: bolder;
    font-size: 50px;
    padding-bottom: 10px;
    color: rgb(249, 226, 201);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.43);
}

h2 {
    font-weight: bold;
    font-size: 20px;
    margin-top: 2%;
    
}

h3 {
    font-weight: bold;
    font-size: 18px;
    margin-top: 2%;
}

hr {
    margin-bottom: 2%;
}

.mjx-box {
    margin-top: 1%;
    margin-bottom: 1%;
}

.subtitle {
    font-size: 20px;
    font-weight: 300;
    padding-bottom: 5px;
    color: rgb(249, 226, 201);
    text-shadow: 1px 1px 3px rgba(0, 0, 0, 0.568);
}

.topnav {
    overflow: hidden;
    background-color: #333;
    box-shadow: 1px 1px 3px #000;
    position: fixed;
    right: 10px;
    border-radius: 10px;
    z-index: 1;
}

.topnav a {
    float: right;
    display: block;
    color: #f2f2f2;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    z-index: 1;
}

.topnav a:hover {
    background-color: #f1cd69;
    color: #043f83;
    z-index: 1;
}

.card {
    background-color: #f2f2f2;
    padding: 20px;
    margin-top: 20px;
    border-radius: 10px;
}

.post, .post-preview {

    padding-top: 5%;
    padding-right: 15%;
    padding-left: 15%;
}

.post-title {
    font-size: 40px;
    font-weight: bolder;
    color: #3268ff;
}

.post-subtitle {
    font-size: 34px;
    font-weight: normal;
    font-style: oblique;
    padding-top: 1%;
    padding-bottom: 3%;
    color: #0085a1;
}
.post-title:hover {
    color: #043f83;
}

.post-subtitle:hover {
    color: #043f83;
}

.description {
    font-size: 18px;
    padding-bottom: 6%;
}

a.tags {
    font-size: 20px;
    color: #3268ff;
}
.date{
    font-size: 18px;
    padding-right: 20px;
}

.post-meta {
    margin-left: 80%;
}

hr.long {
    display: block;
    margin-top: 0.5em;
    margin-bottom: 0.5em;
    margin-left: auto;
    margin-right: auto;
    border-style: solid;
    border-width: 1px;
    color: #576f8a99;
}
.credits, .license {
    text-decoration: none;
    font-size: 14px;
    color: #0085a1;
}

.footer {
    padding: 20px;
    text-align: center;
    background: #f2f2f2;
    margin-top: 20px;
    border-radius: 10px;
}

.logo:hover {
    animation: shake 0.5s;
    animation-iteration-count: 3s;
}

@keyframes shake {
    0% { transform: translate(1px, 1px) rotate(0deg); }
    10% { transform: translate(-1px, -2px) rotate(-1deg); }
    20% { transform: translate(-3px, 0px) rotate(1deg); }
    30% { transform: translate(3px, 2px) rotate(0deg); }
    40% { transform: translate(1px, -1px) rotate(1deg); }
    50% { transform: translate(-1px, 2px) rotate(-1deg); }
    60% { transform: translate(-3px, 1px) rotate(0deg); }
    70% { transform: translate(3px, 1px) rotate(-1deg); }
    80% { transform: translate(-1px, -1px) rotate(1deg); }
    90% { transform: translate(1px, 2px) rotate(0deg); }
    100% { transform: translate(1px, -2px) rotate(-1deg); }
}

.hide, .description {
    display: none;
}

blockquote {
    border-left: solid 4px #3fb399;
    margin: 0 0 1em;
    padding: 0 25px;
}

ul {
    list-style-type: disc;
    margin-left: 2%;
    margin-top: 1%;
}

ol {
    list-style: none;
    margin-left: 2%;
    margin-top: 1%;
}

li {
    margin-bottom: 2%;
}

u {
    text-decoration: underline;
    padding-bottom: 1%;
}   

p {
    margin-top: 1%;
}

pre {
    padding: 0.5rem !important;
    border: solid 1px #d1d1d1;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 5px;
    display: flex;
    line-height: 1.4em;
    background-color: rgb(77, 77, 109);
}

code {
    color: #d1d1d1;
}

.red {
    color: red;
}

/* tags.html */
#btnContainer {
    text-align: center;
}
.container {
    overflow: hidden;
}

.filterDiv {
    background-color: #3268ff;
    width: auto;
    line-height: 300%;
    text-align: center;
    margin: 2%;
    display: none; 
    text-decoration: none;
    border-radius: 10px;
}

.filterDiv a {
    color: #ffffff;
    text-decoration: none;
}
.show {
    display: block;
}


.btn {
    border: none;
    outline: none;
    padding: 12px 16px;
    background-color: #f1f1f1;
    cursor: pointer;
    font-size: 20px;
    color: #043f83;
}


.btn:hover {
    color: #f1f1f1;
    background-color: #f1cd69;
    border-radius: 10px;
}


.btn.active {
    background-color: #f1cd69;
    color: white;
    border-radius: 10px;
}


