.hide {
    display: none;
}

blockquote {
    border-left: solid 4px #3fb399;
    margin: 0 0 1em;
    padding: 0 25px;
}

pre {
    padding: 0.5rem !important;
    border: solid 1px #d1d1d1;
    margin-left: 2%;
    margin-right: 2%;
    border-radius: 5px;
    display: flex;
    line-height: 1.4em;
    background-color: rgb(77, 77, 109);
}

code {
    color: #d1d1d1;
}

.red {
    color: red;
}

