<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="../css/main.css">
    <link rel="icon" href="../assets/favicon.png" type="image/png" sizes="32x32">
    <script type="text/x-mathjax-config">MathJax.Hub.Config({tex2jax: {inlineMath: [["$","$"]]}});</script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/mathjax/2.7.5/latest.js?config=TeX-MML-AM_CHTML" async></script>
    <title>goodstuff</title>
</head>

<body>
    <div class="header">
        <div class="topnav">
            <a href="https://gitlab.com/eldr0n/goodstuff">about</a>
            <a href="https://eldr0n.gitlab.io/goodstuff/tags.html">tags</a>
            <a href="https://eldr0n.gitlab.io/goodstuff/">home</a>
        </div>
        <div class="logo"><img src="../assets/logo.png" alt="sqrt"></div>
        <h1 href="https://eldr0n.gitlab.io/goodstuff/">goodstuff</h1>
        <span class="subtitle">lern min fründ!</span>
    </div>
    <div class="card">
        <article class="post">
            <h1>1 Schwingungen im Komplexen</h1>
            <hr>
            <h2>1.1 Zeigerdarstellung</h2>
            <hr>

            <p>Seien $A>0, \omega > 0, \varphi \in \mathbb{R} \land y(t)=A\cdot sin(\omega t+\varphi)$</p>

            <p><strong>Definition:</strong> Die Funktion $\underline{y}:[t_0, t_E]\to\mathbb{C}$ mit</p>
            <p>$\boxed{\underline{y}(t):=A\cdot e^{j(\omega\cdot t+\varphi)}}$</p>
            <p>heisst <em>Komplexifizierung</em> von y.</p>

            <p>Bemerkungen:</p>
            <ol>
                <li>1. Die physikalische Schwingung wird durch y und <em>nicht</em> durch $\underline{y}$ beschrieben!
                    $\underline{y}$ ist "nur" eine Hilfsfunktion.</li>
                <li>2. Es gilt $\underline{y}(t)=A\cdot cis(\omega t+\varphi)=A\cdot\cos(\omega
                    t+\varphi)=A\cdot\cos(\omega t+\varphi)+i\cdot
                    y(t)\implies\underline{\underline{{y(t)=\Im(\underline{y}(t))}}}$</li>
            </ol>


            <p><strong>Definition:</strong> Die <em>Komplexe Amplitude</em> von y ist </p>
            <p>$\boxed{\underline{A}:=A\cdot e^{i\varphi}}$</p>

            <p>Bemerkungen:</p>
            <ol>
                <li>1. Es gilt: $\underline{\underline{\underline{y}(t)}}=A\cdot e^{(\omega
                    t+\varphi)}=\underbrace{A\cdot e^{i\omega t}\cdot
                    e^{i\cdot\varphi}}_{=\underline{A}}=\underline{\underline{\underline{A}\cdot e^{i\omega t}}}$</li>

                <p>2. Informationsgehalt $\omega\rightarrowtail e^{i\omega t} A,\varphi
                    \rightarrowtail\underline{A}\implies$ Jede harmonische Schwingung mit Kreisfrequenz $\omega$ kann
                    durch eine komplexe Amplitude dargestellt werden.</p>

                <p><img src="../assets/zeigerdarstellung.png" alt="Zeigerdarstellung" width="300"></p>

                <h2>1.2 Überlagerung </h2>
                <hr>
                <p><em>Frage:</em> Wie kann man die Summe bzw. Differenz von zwei harmonischen Schwingungen effizient
                    bilden?</p>

                <p><strong>Satz:</strong> Seien $\underline{A_1},\underline{A_2}\in\mathbb{C}$ die komplexen Amplituden
                    der harmonischen Schwingungen $y_1(t)\land y_2(t).$ Dann ist die Überlagerung der beiden wieder eine
                    harmonische Schwingung mit komplexer Amplitude</p>

                <p>$\boxed{\underline{A}=\underline{A_1}+\underline{A_2}}$</p>

                <p><em>Beweis:</em> Es seien</p>
                <p>$y_1(t)=A_1\cdot\sin(\omega t+\varphi_1)$</p>
                <p>$y_2(t)=A_2\cdot\sin(\omega t+\varphi_2)$</p>
                <p>$\underline{y_1}(t)=A_1\cdot e^{i\varphi_1}\cdot e^{i\omega t}=\underline{A_1}\cdot e^{i\varphi t}$
                </p>
                <p>$\underline{y_2}(t)=A_2\cdot e^{i\varphi_2}\cdot e^{i\omega t}=\underline{A_2}\cdot e^{i\varphi t}$
                </p>
                <p>$y(t)=y_1(t)+y_2(t)$</p>
                <p>$\underline{y}(t)=\underline{y_1}(t)+\underline{y_2}(t)=\underline{A_1}\cdot e^{i\omega
                    t}+\underline{A_2}\cdot e^{i\omega t}$</p>
                <p>$=\underbrace{(A_1+A_2)}_{{=\underline{A}}\cdot e^{i\omega t}}=\underline{A}\cdot e^{i\omega t}$</p>

                <p>Es gilt:</p>
                <p>$\underline{\underline{\Im(\underline{y}(t))}}=\Im(\underline{A}\cdot e^{i\omega
                    t})=\Im((\underline{A_1}+\underline A_2)e^{i\omega t})$</p>
                <p>$=\Im((A_1\cdot e^{i\varphi_1}+A_2\cdot e^{i\omega_2})\cdot e^{i\omega t})$</p>
                <p>$=\Im((A_1\cdot e^{i(\varphi_1+\omega t)}+A_2\cdot e^{i(\varphi_2+\omega t)}$</p>
                <p>$=\Im(A_1\cdot\cos(\varphi_1+\omega t)+A_1\cdot i\cdot\sin(\varphi_1+\omega
                    t))+A_1\cdot\cos(\varphi_+\omega t)+A_2\cdot i\cdot\sin(\varphi_2+\omega t)$</p>
                <p>$A_1\cdot\sin(\omega t+\varphi_1)+A_2\cdot\sin(\omega t+\varphi_2)$</p>
                <p>$=\underline{\underline{y_1(t)+y_2(t)}}\qquad\blacksquare$</p>

                <p>Bemerkungen:</p>
                <ol>
                    <li>1. Die Überlagerung von zwei harmonischen Schwingungen kann auf die Addition bzw. Subtraktion
                        ihrer komplexen Amplitude reduziert werden.</li>
                    <li>2. Analog: $y_1(t)-y_2(t)\to\underline A_1 - \underline{A_2}$</li>
                </ol>

                <h2>1.3 Anwendung Drehstrom</h2>
                <hr>
                <p><em>Situation:</em></p>
                <p><img src="../assets/drehstrom.png" alt="Drehstrom" width="300"></p>

                <p>$\begin{vmatrix}U_1(t)=A\cdot\sin(\omega t)\\U_2(t)=A\cdot\sin(\omega t+\frac {2\pi}
                    {3})\\U_3(t)=A\cdot\sin(\omega t+\frac {4\pi} {3})\end{vmatrix}$</p>


        </article>
    </div>

    <div class="footer">
        <p class="credits">
            &copy; Rico Good 2019
        </p>
        <p class="license">
            This work is licensed under a <a class="license"
                href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0
                International License</a>
        </p>
    </div>

</body>

</html>