<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css">
    <title href="#">goodstuff</title>
</head>

<body>
    <div class="header">
        <div class="topnav">
            <a href="#">about</a>
            <a href="#">tags</a>
            <a href="#">blog</a>
        </div>
        <div class="logo"><img src="assets/logo.png" alt="sqrt"></div>
        <h1>goodstuff</h1>
        <span class="subtitle">lern min fründ!</span>
    </div>
    <div class="card">
        <article class="post-preview">
            <a href="posts/{{SUB}}.html">
                <h2 class="post-title">{{TITLE}}</h2>
                <hr class="long">
                <h3 class="post-subtitle">{{SUB}}</h3>
            </a>
            <p class="description">{{DESCRIPTION}}</p>
            <span class="post-meta">
                <a class="date">{{DATE}}</a>#<a class="tags" href="posts/{{TAG}}.html">{{TAG}}</a>
            </span>
        </article>
    </div>

    <div class="footer">
        <p class="credits">
            &copy; Rico Good 2019
        </p>
        <p class="license">
            This work is licensed under a <a class="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>
        </p>
    </div>

</body>

</html>