<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" type="text/css" media="screen" href="css/main.css">
    <link rel="icon" href="assets/favicon.png" type="image/png" sizes="32x32"> 
    <title>goodstuff</title>
</head>

<body>
    <div class="header">
        <div class="topnav">
            <a href="https://gitlab.com/eldr0n/goodstuff">about</a>
            <a href="https://eldr0n.gitlab.io/goodstuff/tags.html">tags</a>
            <a href="https://eldr0n.gitlab.io/goodstuff/">home</a>
        </div>
        <div class="logo"><img src="assets/logo.png" alt="sqrt"></div>
        <h1 href="https://eldr0n.gitlab.io/goodstuff/">goodstuff</h1>
        <span class="subtitle">lern min fründ!</span>
    </div>
    <div class="card">
<article class="post-preview">
    <a href="posts/Analytische Geometrie.html">
        <h2 class="post-title">ELA-2-L 2</h2>
        <hr class="long">
        <h3 class="post-subtitle">Analytische Geometrie</h3>
    </a>
    <p class="description">{{DESCRIPTION}}</p>
    <span class="post-meta">
        <a class="date">02.02.2019</a>#<a class="tags" href="/goodstuff/tags.html">ELA_2_L</a>
    </span>
</article><article class="post-preview">
    <a href="posts/Elementare Integration.html">
        <h2 class="post-title">IEM-I 1</h2>
        <hr class="long">
        <h3 class="post-subtitle">Elementare Integration</h3>
    </a>
    <p class="description">{{DESCRIPTION}}</p>
    <span class="post-meta">
        <a class="date">27.02.2019</a>#<a class="tags" href="/goodstuff/tags.html">IEM_I</a>
    </span>
</article><article class="post-preview">
    <a href="posts/Analytische Geometrie.html">
        <h2 class="post-title">ELA-2-L 2</h2>
        <hr class="long">
        <h3 class="post-subtitle">Analytische Geometrie</h3>
    </a>
    <p class="description">{{DESCRIPTION}}</p>
    <span class="post-meta">
        <a class="date">26.02.2019</a>#<a class="tags" href="/goodstuff/tags.html">ELA_2_L</a>
    </span>
</article><article class="post-preview">
    <a href="posts/Elementare Integration.html">
        <h2 class="post-title">IEM-I 1</h2>
        <hr class="long">
        <h3 class="post-subtitle">Elementare Integration</h3>
    </a>
    <p class="description">{{DESCRIPTION}}</p>
    <span class="post-meta">
        <a class="date">22.02.2019</a>#<a class="tags" href="/goodstuff/tags.html">IEM_I</a>
    </span>
</article><article class="post-preview">
    <a href="posts/Schwingungen im Komplexen.html">
        <h2 class="post-title">ELA-2-L 1</h2>
        <hr class="long">
        <h3 class="post-subtitle">Schwingungen im Komplexen</h3>
    </a>
    <p class="description">{{DESCRIPTION}}</p>
    <span class="post-meta">
        <a class="date">22.02.2019</a>#<a class="tags" href="/goodstuff/tags.html">ELA_2_L</a>
    </span>
</article>        
    </div>

    <div class="footer">
        <p class="credits">
            &copy; Rico Good 2019
        </p>
        <p class="license">
            This work is licensed under a <a class="license" href="http://creativecommons.org/licenses/by-sa/4.0/">Creative Commons Attribution-ShareAlike 4.0 International License</a>
        </p>
    </div>

</body>

</html>