<article class="post-preview">
    <a href="posts/{{SUB}}.html">
        <h2 class="post-title">{{TITLE}}</h2>
        <hr class="long">
        <h3 class="post-subtitle">{{SUB}}</h3>
    </a>
    <p class="description">{{DESCRIPTION}}</p>
    <span class="post-meta">
        <a class="date">{{DATE}}</a>#<a class="tags" href="tags.html">{{TAG}}</a>
    </span>
</article>